<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="suspention" params="side radius width pos_x pos_y pos_z mass yon yonp">
    <link name="${side}_suspention_link">
      <visual>
        <origin xyz="0 0 0" rpy="${yon} ${yonp} 0"/>
        <geometry>
		<mesh scale="0.0015 0.0015 0.0015" filename="file://$(find robolaunch_cloudy_description)/urdf/meshes/arcelik/suspention_son.dae"/>
        </geometry>
        <material name="blue">
            <color rgba="1 0.1 0.8509 0.0"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="${yon} 0 0"/>
        <geometry>
          <cylinder radius="0.02" length="0.02"/>
        </geometry>
      </collision>

      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="${mass}"/>
        <inertia ixx="${(2/5) * mass * (radius * radius)}" ixy="0" ixz="0"
                 iyy="${(2/5) * mass * (radius * radius)}" iyz="0"
                 izz="${(2/5) * mass * (radius * radius)}" />
      </inertial>
    </link>



    <joint name="${side}_suspention_joint" type="fixed">
      <axis xyz="0 1 0" />
      <parent link="base_link"/>
      <child link="${side}_suspention_link"/>
      <origin xyz="${pos_x} ${pos_y} ${pos_z}" rpy="0 0 0"/>
    </joint>
  </xacro:macro>
</robot>
