<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:property name="base_length" value="0.605" />
  <xacro:property name="base_width" value="0.500" />
  <xacro:property name="base_height" value="0.259" />
  <xacro:property name="base_mass" value="10" />

  <xacro:property name="wheel_radius" value="0.16162" />
  <xacro:property name="wheel_width" value="0.07" />
  <xacro:property name="wheel_pos_x" value="0.530" />
  <xacro:property name="wheel_pos_y" value="0.1555" />
  <xacro:property name="wheel_pos_z" value="-0.04788" />
  <xacro:property name="wheel_mass" value=".6" />
  <xacro:property name="wheel_torque" value="20" />

  <xacro:property name="laser_pose">
    <origin xyz="-0.0475 0 0.125" rpy="0 0 0"/>
  </xacro:property>

  <xacro:property name="depth_sensor_pose">
    <origin xyz="0.2375 -0.1 0.06" rpy="0 0 0"/>
  </xacro:property>
</robot>